*.bak
*.swp
*.zip
.vi
.z
clean
log
mk
old_hu_projects
tags
a
z
0readme
__pycache__

# Ignore any Open Office, Word, or bitmap files.  This is done to avoid
# populating the repository with source stuff.
*.odt
*.odg
*.ods
*.doc
*.docx
*.png
*.jpg
*.tiff
*.bmp

